.body {
  background-color: gray;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: max-content;
  margin: auto;
  border-radius: 8px;
  background-color: #bfbcb4;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
